@{
    ViewBag.Title = "About Us";
}
<h2>Restaurant presentations</h2>

<h3><img src="~/Content/Image/res1.jpg" width="200" height="200" /> Restaurant Tierra de Café</h3>
<p>
    Pizano SA
    230 Lima Street

    In your consideration:

    Through this, Tierra de Café restaurant is pleased to send warm greetings and be presented to you.

    Tierra de Café is a restaurant specializing in the cuisine of our country. We have a staff of chefs with vast experience and exquisite taste in the preparation of our culinary delights. We use the best raw materials and the best service to make your experience in our restaurant unique.

    For introductory we offer special discounts since 2 PM to 6PM. If you get interested in our menu, you can visit www.tierracafé.com, our website where you will find a brief overview of each dish. You can make reservations through our website or by contacting our call center.

    Do not forget that in the Tierra de Café Restaurant you can enjoy the best of Colombian food.

    Sincerely,

    Fernanda Parra
    General Manager
    Restaurant Tierra de Café
</p>


<h3><img src="~/Content/Image/res2.jpg" width="200" height="200" /> Restaurant Bon Apetit</h3>
<p>
    Alderman Confections
    3800 Chaski Avenue
    Tel 4207890

    Best regards:

    Through this, our Restaurant Bon Apetit is pleased to give out to you, Alderman Confections staff.
    Bon Apetit Restaurant is a restaurant offering a varied menu which specializes in seafood.

    Our staff is qualified and has extensive experience in the preparation of the most famous dishes of our country and also from abroad. We use the finest ingredients for the most delicious dishes that you all will delight.

    Our address is Las Delicias Avenue 240 and our office hour is from 11 am to 10 pm. As part of a commitment to our customers, we have discounts of up to 25% for business staff, plus a complimentary to each client.

    We have a website in which you will appreciate our menu and also reserve tables, which can also be done through our phone line is at the beginning of this letter.

    We hope you visit us, we gladly will give you the most attentive attention.
</p>


<p>Upload your resaurant presentation</p>
<p><a class="btn btn-default" href="https://uploadfiles.io/">Upload &raquo;</a></p>