@{
    ViewBag.Title = "Welcome to web site with which own best dishes";
}




    <div >
        <h2>LOOK THROW GASTRONOY</h2>
        <img src="~/Content/Image/homeImg.jpg" width="1120" height="400" />
        <p>
            Choose your favourite luxury restaurant for dinner, date or meeting with friends and enjoy in tasty food.
        </p>
       
    </div>
    <div >
        <h2>Offers</h2>
        <p>
            Our staff is qualified and has extensive experience in the preparation of the most famous dishes of our country and also from abroad. We use the finest ingredients for the most delicious dishes that you all will delight.
            For introductory we offer special discounts since 2 PM to 6PM. If you get interested in our menu, you can make reservations through our website or by contacting our call center.
        </p>
       
    </div>
    <div >
        <h2>Rate us</h2>
        <p>If you like our collection of restaurants and food please rate us on Food and Wine</p>
        <p><a class="btn btn-default" href="https://www.foodandwine.com/">Food and Wine &raquo;</a></p>
    </div>
